<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforcedrillers.myapplication">


    <!--foreground service permission-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--end less running service-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--when we restart the device-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--internet connection-->
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare the service class -->
        <service android:name=".DemoService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false"/>

        <!-- Declare the broadcast class to start automatically on restart app-->
        <receiver android:enabled="true"
            android:name=".StartReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>



    </application>

</manifest>